:root {
  --theme-white: #ffffff;
  --theme-black: #171717;
  --theme-light-gray: rgb(195, 195, 195);
  --theme-med-gray: rgb(142, 142, 142);
  --theme-dark-gray: rgb(72, 72, 72);
  --theme-sand: rgb(216, 204, 174);
  --theme-fade: rgba(23, 23, 23, 0.402);
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
}

body {
  color: var(--theme-black);
  background-color: var(--theme-black);
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  text-transform: inherit;
  font-weight: inherit;
  padding: 0;
  cursor: pointer;
}