.bracketMatchContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

/* Bracket Layout */
.bracket {
  display: grid;
  position: relative;
  height: 700px;
  overflow-x: auto;
  padding: 0 50px;
  grid-template-rows: 35px auto;
}

.round {
  position: relative;
}

.roundHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-10px);
}

.roundHeaderText {
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.roundHeaderText.selectedRound {
  background-color: var(--theme-black);
  color: var(--theme-white);
}

.bracketRouteContainer {
  position: relative;
  border-bottom: 1px solid white;
  background-color: var(--theme-black);
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  gap: 5px;
  height: 30px;
}

.bracketRouteContainer:last-child {
  border-bottom: none;
}

.matchOuterContainer {
  position: absolute;
}

.forkConnector {
  border: 2px solid var(--theme-black);
  border-left: none;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottomConnector {
  border: 2px solid var(--theme-black);
  border-top: none;
  border-left: none;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bracketMatchBullet {
  width: unset;
  height: 65%;
  object-fit: contain;
}

.bracketMatchBulletTbd {
  height: 20px;
  width: 20px;
  margin: 2.5px;
  padding-top: 2px;
  padding-left: 1px;
  background-color: var(--theme-dark-gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.bracketMatchBulletContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
}

.bracketMatchNameContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  margin-left: 2px;
}

.loserShader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-fade);
  z-index: 1;
}

.bracketOuterContainer {
  margin-top: 15px;
  background-color: var(--theme-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerInnerContainer {
  width: 100%;
}

.headerBackplate {
  display: flex;
  flex-direction: column;
  color: var(--theme-white);
  background: var(--theme-black);
  width: 100%;
  padding: 10px 0 20px 10px;
}

.headerTitleContainer {
  font-size: 1rem;
  font-weight: bold;
}

.aboutText:hover {
  text-decoration: underline;
}

.currentWeekContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--theme-sand);
  padding-top: 15px;
  padding-bottom: 15px;
}

.currentWeekContainerLeftSide {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  flex-grow: 1;
}

.weekNumberContainer {
  flex-grow: 1;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.weekRangeContainer {
  font-size: 1rem;
  font-weight: bold;
  flex-shrink: 1;
}

.currentWeekContainerRightSide {
  padding-right: 10px;
}

.weekHeaderOuterContainer {
  width: 100%;
}

.routesGrid {
  --grid-size: 80px;
  display: grid;
  gap: 5px;
}

.hudServiceBulletContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--grid-size);
  height: var(--grid-size);
}

.rows_2 .hudServiceBulletContainer {
  width: calc(var(--grid-size) / 2);
  height: calc(var(--grid-size) / 2);
}

.rows_3 .hudServiceBulletContainer {
  width: calc(var(--grid-size) / 3);
  height: calc(var(--grid-size) / 3);
}

.rows_4 .hudServiceBulletContainer {
  width: calc(var(--grid-size) / 4);
  height: calc(var(--grid-size) / 4);
}

.rows_5 .hudServiceBulletContainer {
  width: calc(var(--grid-size) / 5);
  height: calc(var(--grid-size) / 5);
}

.hudServiceBulletContainer .bracketMatchBullet {
  height: 100%;
}

.sectionHeaderInnerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionHeaderContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sectionHeaderText {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  flex-grow: 1;
}

.sectionHeaderLine {
  width: 100%;
  border-bottom: 1px solid var(--theme-black);
  margin-top: 3px;
}

.sectionHeaderOuterContainer {
  background-color: var(--theme-white);
  width: 100%;
  padding: 0px 10px 0 10px;
}

.footerInnerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footerTextContainer {
  background-color: var(--theme-sand);
  flex-grow: 1;
  padding: 18px;
  font-size: 0.8rem;
  line-height: 1rem;
}

.footerBlackBar {
  height: 25px;
  background-color: var(--theme-black);
}

.textLink {
  color: var(--theme-dark-gray);
  text-decoration: underline;
}

.whiteBg {
  background-color: var(--theme-white);
  padding-top: 12px;
}

.weekSelectorOuterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.weekSelectorInnerContainer {
  display: flex;
  flex-direction: row;
}

.weekSelectorContainer {
  width: 160px;
  display: flex;
}

.weekSelectorContainer:last-child {
  justify-content: flex-end;
}

.weekSelectorButton {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.weekSelectorButton.disabled {
  color: var(--theme-med-gray);
}

.matchesDashboardOuterContainer {
  padding: 10px;
}

.matchPreviewInnerContainer {
  background-color: var(--theme-black);
  color: var(--theme-white);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  min-width: 280px;
}

.roundNameContainer {
  flex-grow: 1;
}

.matchPreviewHeader {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  font-size: 0.8rem;
}

.matchPreviewWhiteLine {
  width: 100%;
  border-bottom: 1px solid var(--theme-white);
}

.matchPreviewLinesContainer {
  padding: 5px 5px 8px 5px;
  display: grid;
  grid-template-columns: 38px auto auto;
  grid-template-rows: 45px 45px;
  gap: 5px;
  width: 100%;
}

.matchPreviewLinesContainer.withProgress {
  grid-template-columns: 38px auto 1fr auto;
}

.tripPreviewInnerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3px;
  padding-right: 15px;
}

.routeIdContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2px;
  grid-column: 1;
}

.routeIdContainer .bracketMatchBullet {
  height: 80%;
}

.serviceNameAndStatusContainer {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 6px;
  padding-left: 3px;
}

.serviceNameContainer {
  font-weight: bold;
  font-size: 1rem;
}

.serviceStatusContainer {
  color: var(--theme-med-gray);
  font-size: 0.8rem;
}

.progressPreviewContainer {
  grid-column: 3;
  padding: 0 10px 0 10px;
}

.progressBarInnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.underlyingLineContainer {
  width: 100%;
  height: 15%;
  /* background-color: var(--theme-med-gray); */
  border-radius: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

/* .underlyingLineContainer.started {
  background-color: var(--theme-white);
} */

.progressGrid {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  outline: 5px solid var(--theme-white);
  background-color: var(--theme-white);
  border-radius: 5px;
  padding: 0 5px;
}

.progressBarSegmentInnerContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

.stopCircle {
  height: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--theme-white);
  outline: 3px solid var(--theme-black);
  z-index: 1;
  top: 5%;
}

.stopNameContainer {
  position: absolute;
  font-size: 0.8rem;
  width: 200px;
  top: 15px;
}

.stopContainer {
  position: relative;
}

.firstStopContainer .stopCircle {
  position: absolute;
  transform: translateX(-50%)
}

.secondStopContainer .stopCircle {
  position: absolute;
  right: 0;
  transform: translateX(50%)
}

.delayContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: var(--theme-white);
  grid-column: 4;
  padding: 0 8px;
}

.delayTimeContainer {
  font-size: 1rem;
}

.isFinalTime .delayTimeContainer {
  font-weight: bold;
}

.delayTimeText {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-transform: lowercase;
}

.matchesDashboardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5px;
}

.previewLoserShader {
  grid-column: 1 / 5;
  z-index: 1;
  background-color: var(--theme-fade);
  border-radius: 5px;
}

.arrowContainer {
  cursor: pointer;
  position: relative;
}

.arrowContainer.disabled {
  cursor: initial;
}

.navigatorInnerContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.arrowImage {
  height: 25px;
  width: unset;
}

.fadeToWhite {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.showHideContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

.showHideTextAndArrowContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.expandArrow {
  width: 15px;
  height: unset;
  transition-property: rotate;
  transition-duration: 0.5s;
}

.showHideText {
  font-weight: bold;
}

.seeAllWeeksInnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.seeAllWeeksText {
  padding-top: 2px;
  font-size: 1rem;
  font-weight: bold;
}

.seeAllWeeksArrow {
  width: 15px;
  height: unset;
}

.progressLine {
  width: 100%;
  height: 3px;
  position: absolute;
  height: 50%;
}

.progressPreviewInnerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: var(--theme-white); */
  padding: 0 20px;
  border-radius: 5px;
}

.progressPreviewBarContainer {
  width: 100%;
  display: grid;
  height: 20%;
}

.segmentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.segment {
  width: 100%;
  height: 50%;
  z-index: 1;
}

.segment.filledSegment {
  height: 100%;
}

.segment.graySegment {
  background-color: var(--theme-dark-gray);
}

.leftTerminalContainer {
  position: absolute;
  height: 100%;
  left: 0;
}

.leftTerminalSquareContainer {
  position: absolute;
  height: 100%;
  left: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.leftTerminalNameContainer {
  position: absolute;
  left: 0;
  transform: translateY(100%) translateX(-5px);
  white-space: nowrap;
  width: max-content;
}

.rightTerminalNameContainer {
  position: absolute;
  right: 0;
  transform: translateY(100%) translateX(5px);
  white-space: nowrap;
  width: max-content;
}

.middleTerminalNameContainer {
  position: absolute;
  right: 0;
  transform: translateY(-120%) translateX(50%);
  white-space: nowrap;
  width: max-content;
}

.middleTerminalNameContainer.leftAlign {
  transform: translateY(-120%) translateX(100%);
}

.middleTerminalNameContainer.rightAlign {
  transform: translateY(-120%) translateX(0%);
}

.terminalNameContainer {
  color: var(--theme-white);
  font-weight: bold;
  font-size: 0.8rem;
  background-color: var(--theme-black);
}

.rightTerminalContainer {
  position: absolute;
  height: 100%;
  right: 0;
}

.rightTerminalSquareContainer {
  position: absolute;
  height: 100%;
  right: 0;
  transform: translateX(50%);
  z-index: 2;
}

.terminalSquare {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--theme-white);
  outline: 3px solid var(--theme-black);
  border-radius: 50%;
}